
<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div *ngIf="category">
      {{ category.title }}
      <label>Title</label>
      <input type="text" formControlName="title" />
      <div class="error" *ngIf="form.controls.title.errors">
        <div *ngIf="form.controls.title.errors.required">
          This field is required
        </div>
        <div *ngIf="form.controls.title.errors.minlength">
          The min length of this field is {{ form.controls.title.errors.minlength.requiredLength }}
        </div>
      </div>
    </div>
  </div>
  <button type="submit">Save</button>
</form>

