
<!-- <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div *ngIf="category">
      {{ category.title }}
      <label>Title</label>
      <input type="text" formControlName="title" />
      <div class="error" *ngIf="form.controls.title.errors">
        <div *ngIf="form.controls.title.errors.required">
          This field is required
        </div>
        <div *ngIf="form.controls.title.errors.minlength">
          The min length of this field is {{ form.controls.title.errors.minlength.requiredLength }}
        </div>
      </div>
    </div>
  </div>
  <button type="submit">Save</button>
</form> -->


<div *ngIf="category$ | async as category; else noArticle" class="article-details">
  <h2>Edit category ID: {{ category.id }}</h2>
  <dar-category-form
    [form]="form"
   
    (formSubmit)="onSubmit()"
   
  ></dar-category-form>
</div>
<ng-template #noArticle>
  No article for such id
</ng-template>

