
:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-container {
    flex: 1;
    display: flex;
}

.app-content {
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 118px);
}