<!-- <header class="app-header">
    DarLab Admin
  </header>
   -->
  
  <section class="header">
    <div class="header-inner">



        <div class="head-inner-sides">
            <div class="head-inner-sides-left">
                <img class="header-icon" src="assets/gopro_logo_PNG3.png">
            </div>
            <div class="head-inner-sides-center">
                <div class="head-inner-menu">

                    <li class="head-inner-menu-item accessories">
                        <a class="head-inner-menu-item-link" href="#">
                            <span class="head-inner-menu-item-text">cameras</span>
                        </a>
                    </li>
                    <li class="head-inner-menu-item accessories">
                        <a class="head-inner-menu-item-link" href="accessories.html">
                            <span class="head-inner-menu-item-text">accessories</span>
                        </a>
                    </li>
                    <li class="head-inner-menu-item accessories">
                        <a class="head-inner-menu-item-link" href="#">
                            <span class="head-inner-menu-item-text">apps</span>
                        </a>
                    </li>
                    <li class="head-inner-menu-item accessories">
                        <a class="head-inner-menu-item-link" href="#">
                            <span class="head-inner-menu-item-text">shoot for awards</span>
                        </a>
                    </li>
                </div>


            </div>
            <div class="head-inner-sides-right">
                <!-- <div class="head-inner-menu"> -->
                <div class="head-inner-sides-right-container">
                    <img class="right-container-item" src="assets/global.svg">
                    <img class="right-container-item" src="assets/account.svg">
                    <img class="right-container-item" src="assets/loupe.svg">
                </div>
            </div>

            <!-- </div> -->
        </div>



        <img class="header-icon-mobile" src="assets/line-menu.svg" onclick="showMenu()">


    </div>
</section>